* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.row,
.frame {
    width: 100%;
}

span {
    color: gray;
}

.rounded-cirlce {
    background-image: url('./imgs/20221213_133737.jpg');
    width: 70px;
    height: 83px;
    border-radius: 60px;
}

#nav {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: black;

}

#nav-icon-btn {
    transform: rotate(90deg);
    display: none;

}

#nav-off {
    display: none;
}

footer {
    background-color: rgb(109, 107, 107);
}

@media(max-width:1240px) {

    .navbar,
    .navbar-icons {
        display: none;

    }

    span {
        color: rgb(137, 170, 180);
    }

    #nav-icon-btn {
        display: block;
    }

    


}
img{
   width: 100%;
   height: 100%;
   border-radius: 20px;
}
.row{
    justify-content: space-between;
    
    
}
#mainbar{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
    

}
input{
    width: 80%;
    height: 30%;
   
}
